<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Member">

	<resultMap id="resultMember" type="Member">
		
	</resultMap>
	
<!-- 	<select id="checkIdDup" parameterType="string" resultType="Member" resultMap="resultMember">
		SELECT * FROM MEMBER WHERE ID = #{userid}
	</select>
	 -->
	<select id="loginCheck" parameterType="Member" resultType="Member" resultMap="resultMember">
		SELECT * FROM MEMBER WHERE member_id = #{member_id} and member_pwd = #{member_pwd}
	</select>
	
	<select id="idChk" parameterType="string" resultType="_int">
		SELECT COUNT(*) FROM MEMBER WHERE member_id = #{member_id}
	</select>
	
	<insert id="mInsert" parameterType="Member">
		INSERT INTO MEMBER VALUES (#{member_id}, #{member_pwd}, #{member_name}, #{birth}, default, #{phone}, #{post}, #{address1}, #{address2}, 0, 1, default, #{email})
	</insert>

<!-- 	<insert id="insertMember" parameterType="Member" flushCache="true"
 statementType="PREPARED" useGeneratedKeys="true" timeout="20">
 	INSERT INTO MEMBER VALUES(#{id}, #{passwd}, #{name}, #{email}, #{gender}, #{age}, #{phone}, #{address}, DEFAULT)
  </insert>

<update id="updateMember" parameterType="Member" flushCache="true" statementType="PREPARED">
	UPDATE MEMBER SET PASSWD = #{passwd}, EMAIL = #{email}, AGE = #{age},
		PHONE = #{phone}, ADDRESS = #{address} WHERE ID = #{id}
 </update>

<delete id="deleteMember" parameterType="string" flushCache="true" statementType="PREPARED">
	DELETE FROM MEMBER WHERE ID = #{userid}
  </delete> -->

</mapper>
